$social-grey:rgb(78, 78, 78);
$blue:rgb(28, 60, 91);
$header-blue:rgb(56, 191, 195);
$donate-blue:rgb(0, 140, 150);
$nav-orange:rgb(246, 145, 38);
$nav-red:rgb(219, 73, 38);
$text-orange:rgb(255, 147, 30);
